@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 100vh;
    padding: 10px;
}
.card
{
    position: relative;
    flex-basis: 25%;
    height: 380px;
    background: #ffffff;
    -webkit-box-shadow: 0 50px 80px rgba(0, 0, 0, 0.25);
            box-shadow: 0 50px 80px rgba(0, 0, 0, 0.25);
    text-align: left;
    overflow: hidden;
    padding: 20px;
    -webkit-transition: color 0.1s, background 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
    transition: color 0.1s, background 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
    -o-transition: color 0.1s, background 0.3s, box-shadow 0.3s, transform 0.3s;
    transition: color 0.1s, background 0.3s, box-shadow 0.3s, transform 0.3s;
    transition: color 0.1s, background 0.3s, box-shadow 0.3s, transform 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
    color: #000000;
    z-index: 1;
}
.card:nth-child(2)
{
    margin: 0 10px;
}
.card:hover
{
    background: #558cf3;
    -webkit-box-shadow: 0 50px 120px rgba(0, 0, 0, 0.45);
            box-shadow: 0 50px 120px rgba(0, 0, 0, 0.45);
    color: #fff;
    -webkit-transform: scale(1.035);
        -ms-transform: scale(1.035);
            transform: scale(1.035);
}
.card h1
{
    font-weight: 300;
}
.card span p
{
    padding: 10px 0;
}
.card i
{
    float: right;
    font-size: 30px;
    text-decoration: none;
    color: #000;
    position: absolute;
    -webkit-transition: color 0.1s, transform 0.7s;
    -o-transition: color 0.1s, transform 0.7s;
    transition: color 0.1s, transform 0.7s;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
}
@media(min-width: 768px)
{
    .card i:hover
    {
        transform: rotate(360deg);
    }
}
.card:hover i
{
    color: #fff;
    cursor: pointer;
}
::-webkit-scrollbar
{
    width: 0;
}
@media (max-width: 991px)
{
    .card
    {
        flex-basis: 100%;
        padding: 10px;
    }
    .card:nth-child(2)
    {
        margin: 10px 0;
    }
    .card:hover
    {
        -webkit-transform: scale(1.02);
            -ms-transform: scale(1.02);
                transform: scale(1.02);
    }
    .card i
    {
        bottom: 20px;
        right: 20px;
    }
    body
    {
        display: block;
    }
}