@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 10px;
}
.card
{
    position: relative;
    width: 380px;
    height: 380px;
    background: #ffffff;
    box-shadow: 0 50px 80px rgba(0, 0, 0, 0.25);
    text-align: left;
    overflow: hidden;
    padding: 20px;
    transition: color 0.1s, background 0.3s, box-shadow 0.3s, transform 0.3s;
    color: #000000;
    z-index: 1;
}
.card:nth-child(2)
{
    margin: 0 10px;
}
.card h1
{
    font-weight: 300;
}
.card span p
{
    padding: 10px 0;
}
.card i
{
    float: right;
    font-size: 30px;
    text-decoration: none;
    color: #000;
    position: absolute;
    transition: all 0.1s;
    bottom: 30px;
    right: 30px;
}
.card:hover
{
    background: #558cf3;
    box-shadow: 0 50px 120px rgba(0, 0, 0, 0.45);
    color: #fff;
    transform: scale(1.04);
}
.card:hover i
{
    color: #fff;
}
::-webkit-scrollbar
{
    width: 0;
}
@media (max-width: 991px)
{
    .card
    {
        width: 100%;
        padding: 10px;
    }
    .card:nth-child(2)
    {
        margin: 10px 0;
    }
    .card i
    {
        bottom: 20px;
        right: 20px;
    }
    body
    {
        display: block;
    }
}